@import url("https://fonts.googleapis.com/css2?family=McLaren&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Podkova:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Port+Lligat+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&family=Satisfy&display=swap");

/* distintas font-family: "McLaren", "Mulish", "Podkova", "Poppins", "Port Lligat Sans", "Roboto", "Rock Salt", "Satisfy"

Para los colores difuminados usar background: linear-gradient(to right, #color, #color); //difumina de izq a derecha
background:linear-gradient(#color, #color, #color); //difumina de arriba para abajo
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

/* 



/* NOTIFICACIONES */

.notificaciones {
  max-width: 440px;
  background-color: rgba(248, 213, 126, 0.3);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  padding-bottom: 40px;
}

@media (min-width:441px) {
  .notificaciones {
    max-width: 690px;
  }
}

.notificaciones__titulo {
  font-family: "Podkova";
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin: 39px 0;
}

.producto-expirado {
  position: relative;
  width: 301px;
  height: 100px;
  border-radius: 20px;
  background: linear-gradient(to right, #ff0000, #570000);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}

.image-expirado {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: repeat;
  background-image: url("https://i.ibb.co/RpzMVDqQ/cruz.png");
  background-size: 33px 33px;
  opacity: 0.05;
  z-index: 0;
}

.image-trash {
  height: 23px;
  width: 23px;
  left: 5px;
  top: 7px;
  position: absolute;
  background-image: url("https://i.ibb.co/ZRS7Ypb6/pngwing-com.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.image-edit {
  height: 23px;
  width: 23px;
  left: 6px;
  top: 67px;
  position: absolute;
  background-image: url("https://i.ibb.co/qFXpTyjr/pngwing-com-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.image-product {
  height: 65px;
  width: 65px;
  border-radius: 50px;
  z-index: 1;
}

.title-product {
  margin: 0 0 0 4px;
  font-family: "McLaren";
  font-size: 18px;
  color: white;
  font-weight: 400;
}

/* POR EXPIRAR */
.producto-2-dias {
  background: linear-gradient(to right, #E2CF00, #762D00);

}

.imagen-2 {
  background-image: url("https://png.pngtree.com/png-vector/20210225/ourmid/pngtree-hand-painted-yellow-exclamation-mark-png-image_2951123.jpg");

}

.imagen-3 {
  background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTUAK0pJnGtrT4kEQlvd2KuaiM40IXZEKPnjRvl8RDXifh5s1zD");

}

.producto-3-dias {
  background: linear-gradient(to right, #00E208, #045000);

}